### Bonus Assignment 1. Exploratory Data Analysis (EDA) of Olympic games with Pandas

In [2]:
from pathlib import Path
import pandas as pd

PATH_TO_DATA = Path("/Users/sergey/Documents/Computer Science/machine learning/mlcourse_ai_bonus_jupyter_book/_static/data/assignment1") 
print(PATH_TO_DATA)
df = pd.read_csv(PATH_TO_DATA / "athlete_events.csv.zip", index_col="ID")
df.head(3)

/Users/sergey/Documents/Computer Science/machine learning/mlcourse_ai_bonus_jupyter_book/_static/data/assignment1

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN

1. How old were the youngest male and female participants of the 1992 Olympics?

In [11]:

df[(df["Sex"] == "M") & (df["Year"] == 1992)]["Age"].min(), df[(df["Sex"] == "F") & (df["Year"] == 1992)]["Age"].min()

(np.float64(11.0), np.float64(12.0))

2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.

In [ ]:
q = '(Year == 2012) & (Sex == "M")'
sportsmen_count = len(df.query(q).drop_duplicates("Name"))
basket_count = len(df.query(q).query('Sport == "Basketball"').drop_duplicates("Name"))

round(basket_count / sportsmen_count * 100, 1)

2.5

3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.

In [52]:
tennis_woomens = df[(df["Sex"] == "F") & (df["Year"] == 2000) & (df["Sport"] == "Tennis")]
round(tennis_woomens["Height"].mean(), 1), round(tennis_woomens["Height"].std(), 1)

(np.float64(171.8), np.float64(6.5))

4. Find the heaviest athlete among 2006 Olympics participants. What sport did he or she do?

In [71]:
max_weight_idx = df[df.Year == 2006]["Weight"].idxmax()
df[df.Year == 2006].loc[max_weight_idx]["Sport"] # через loc получаем по max_weight_idx строку

'Skeleton'

5. How many times did John Aalberg participate in the Olympics held in different years?

In [74]:
len(df[df.Name == "John Aalberg"].groupby(["Year"]))

2

6. How many gold medals in tennis did the Switzerland team win at the 2008 Olympics?

In [78]:
q = 'Team == "Switzerland" & Year == 2008 & Sport == "Tennis" & Medal == "Gold"'

df.query(q)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
34396,Roger Federer,M,26.0,185.0,80.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold
129042,Stanislas Wawrinka,M,23.0,183.0,79.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold

7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in the Medal column.

In [84]:
q0 = 'Team == "Spain" & Year == 2016 & Medal'
q1 = 'Team == "Italy" & Year == 2016 & Medal'
len(df.query(q0)) < len(df.query(q1))

True

8. What are the least and most common age groups among the participants of the 2008 Olympics?

In [93]:
def age_category(age):
    if 15 <= age < 25:
        return "[15, 25)"
    elif 25 <= age < 35:
        return "[25, 35)"
    elif 35 <= age < 45:
        return "[35, 45)"
    elif 45 <= age <= 55:
        return "[45, 55]"
    
df["age_category"] = df.Age.map(age_category)

df.drop_duplicates("Name").groupby("age_category").size() # получили груб объект, и вызвали его метод size()

age_category
[15, 25)    75941
[25, 35)    45690
[35, 45)     4794
[45, 55]     1153
dtype: int64

9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?

In [99]:
pd.crosstab(df.City, df.Season).loc[["Atlanta", "Squaw Valley"]]

Season        Summer  Winter
City
Atlanta        13780       0
Squaw Valley       0    1116

In [104]:
df[df.Year == 1994].Sport.nunique() - df[df.Year == 2002].Sport.nunique() # nunique = number unique

-3