### Bonus Assignment 1. Exploratory Data Analysis (EDA) of Olympic games with Pandas

In [12]:
from pathlib import Path
import pandas as pd

PATH_TO_DATA = Path("/Users/sergey/Documents/Computer Science/machine learning/mlcourse_ai_bonus_jupyter_book/_static/data/assignment1") 
print(PATH_TO_DATA)
df = pd.read_csv(PATH_TO_DATA / "athlete_events.csv.zip", index_col="ID")
df.head(3)

/Users/sergey/Documents/Computer Science/machine learning/mlcourse_ai_bonus_jupyter_book/_static/data/assignment1

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN